html{
    font-size: 10px;
}
*{
    margin: 0px;
}
body{
    margin: 0px;
    /* background-color: rgb(48, 47, 47); */
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* body div{
    border: 1px red solid;
} */
header{
    width: 100%;
    height: 6rem;
    /* background-color: #6c5666; */
    position: fixed;
    top:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.container{
    width: 98%;
    height:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer{
    width:16%;
    font-size: 1.4rem;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.headerContact{
    color: aliceblue;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-around;
    width:30%;
    height:4rem;
}
/* logo image */
.logo{
    width:5rem;
    border-radius: 0.5rem;
}
.about{
    width:100%;
    height: 100vh;
    /* background-color: black; */
    color: whitesmoke;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-61deg,black 0% 44%,rgb(39, 38, 38) 45% 55%,black 56% 100%);
}
.about-container{
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h2{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text p{
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
    word-spacing: .2rem;
    line-height: 2.5rem;
}
.image{
    width: 50rem;
    height: 50rem;   
}
.image1{
    background-image: url(MEDIA/img/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rem;
    height: 50rem;
    border-radius: 5px;
    position: absolute;
}
.image2{
    background-image: url(MEDIA/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rem;
    height: 50rem;
    border-radius: 5px;
    position: absolute;
    animation: fade 8s infinite ease-out alternate;
}
.image3{
    width: 50rem;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
}
@keyframes fade {
    0%{
        opacity: 100;
    }
    20%{
        opacity: 100;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
    
}

.blank{
    width:100%;
    height:.8rem;
}


.dream{
    width:100%;
    height:55vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dream:nth-child(odd){
    background-image: linear-gradient(45deg,black 0% 44%,rgb(39, 38, 38) 45% 55%,black 56% 100%);
}
.dream:nth-child(even){
    background-image: linear-gradient(-45deg,black 0% 44%,rgb(39, 38, 38) 45% 55%,black 56% 100%);
}
.dream h2{
    font-size: 20rem;
    letter-spacing: 2rem;
}
.dream p{
    font-size: 2rem;
    margin-top: 15rem;
}
.services{
    height: 80vh;
    width: 90%;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    background-image: linear-gradient(61deg,black 0% 44%,rgb(39, 38, 38) 45% 55%,black 56% 100%);
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.services h2{
    font-size: 3.5rem;
}
.cardHolder{
    width:90%;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.offer{
    width:22%;
    height:50vh;
    display: flex;
    align-items: last baseline;
    justify-content:center ;
    text-wrap: wrap;
    padding: .5rem;
    background-size: cover;
    border-radius: 5%;
    overflow: hidden;
    background-position: center; 
    box-shadow: 1rem 1rem 1rem gray ;
    position: relative;
}
.offer a{
    background-color: black;
    width:100%;
    padding: 0.5rem;
    height:auto;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.offer:hover{
    animation: offerHover 1s forwards;
}
.offer:hover a{
    transition-delay: .25s;
    visibility: visible;
}
@keyframes offerHover {
    0%{
        background-size: 100%;
        box-shadow: 1rem 1rem 1rem red;
    }
    100%{
        background-size: 105%;
    }
}
.offer p{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    word-spacing: .25rem;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


.process{
    width:100%;
    height: 100vh;
    /* background-color: black; */
    background-image: linear-gradient(-63deg,black 0% 44%,rgb(39, 38, 38) 45% 55%,black 56% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding-top: 10rem;
}
.processContainer{
    width:90%;
    height:45vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* color: aliceblue; */
    justify-content: space-between;
}
.processContainer div{
    width:23%;
    height:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}
.processCard img{
    width:20%;
}
.ourprocess{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}
.process span{
    font-size: 6rem;
    color: bisque;   
}




footer{
    width:100%;
    height:35vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width:55%;
    color: aliceblue;
    height:25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    /* border:1px red solid; */
}
.contact{
    width:20%;
    height: 25vh;
    padding: 2rem;
    color: aliceblue;
}
footer a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
}
.footer img{
    width:20%;
    border-radius: 5px;
}
.footer p{
    font-size: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.contact-icon{
    width:50%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}